.row
  .small-8.large-5.small-centered.columns.panel
    .row
      #login.small-12.columns
        = form_tag(admin_sessions_path, method: :post) do
          %label Username
          = text_field(:admin, :username)
          %label Password
          = password_field(:admin, :password)
          = submit_tag("Sign In", class: "button expand call-to-action")
