.row
  .large-5.columns.large-centered
    #email-submit-form
      = form_for :lead, remote: true, url: leads_path, method: :post do |f|
        .lead-email
          = f.label :email
          = f.text_field :email, type: "email", required: ''
        = f.submit "Subscribe"

    #success-overlay
      %p You have subscribed.  Thank you!

:javascript
  Landertastic.SubmitEmail();