@import "../foundation_and_overrides";

$primary-color: #63b1e2;
$callout-color: #ffd170;
$alert-color: #ff8770;

$body-bg: red;

body.admin {
  background: image-url("admin-background.jpg") repeat;
}

nav.top-bar {
  background-color: $primary-color;

  ul.right li a {
    background-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }
}

.button.call-to-action {
  background-color: $callout-color;
  border-color: slategray;

  &:hover {
    background-color: darken($callout-color, 15%);
  }
}

#login {
  form {
    margin-bottom: 0;
    .button { margin-bottom: 0; }
  }
}

#statistics {
  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 20px;
  }

  #experiment {
    text-align: center;
    font-size: 1.1em;
    padding: 20px 0 60px 0;

    span:last-child {
      color: lighten($body-font-color, 50%);
      font-size: 0.9em;
    }
  }

  .button.alert {
    background-color: $alert-color;

    &:hover {
      background-color: darken($alert-color, 20%);
    }
  }
}

#settings {
  .panel h2 {
    font-size: 1.9em;
  }
  form {
    margin-bottom: 0;
    .button { margin-bottom: 0; }
  }
}
